<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Africa</title>
    <style>
        h1{
            text-align: center;
            font-family: Arial;
            color: #007bff;
        }
    </style>
</head>
<body>
    <img src="imagens/africa.png">
    <p><h1>Africa</h1></p>
    <p style="text-align: justify">É o terceiro maior continente da Terra, ficando apenas atrás da Ásia e das Américas. Junto com as ilhas adjacentes, ocupa cerca de 30 milhões de km2, cobrindo 20,3% da área total da terra firme do planeta. É também o segundo continente mais populoso da Terra, ficando apenas atrás da Ásia. Possui mais de 800 milhões de habitantes em 54 países, representando cerca de um sétimo da população do mundo. Os países da África que têm o português como língua oficial são: Angola, Cabo Verde, Guiné-Bissau, Moçambique e São Tomé e Príncipe. </p>

</body>
</html>