<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Americas</title>
    <style>
        h1{
            text-align: center;
            font-family: Arial;
            color: #007bff;
        }
    </style>
</head>
<body>
    <p style="text-align: justify"><h1 style="text-decoration: #1c7430">Americas</h1></p>
    <img src="imagens/americas.png">

    <p style="text-align: justify">É o segundo maior continente do mundo. Com uma área de 42.189.120 km² e uma população de mais de 750 milhões de habitantes, corresponde a 8,3% da superfície total do planeta e a 14% da população humana. Localizada entre o oceano Pacífico e o Atlântico, a América inclui o Mar do Caribe e a Groenlândia, mas não a Islândia, por razões históricas e culturais.</p>

</body>
</html>