<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asia</title>
    <style>
        h1{
            text-align: center;
            font-family: Arial;
            color: #007bff;
        }
    </style>
</head>
<body>
<p style="text-align: center"><h1>Asia</h1></p>
    <img src="imagens/aisa.jpg">
<p style="text-align: justify">É o maior e o mais populoso continente da Terra. Possui cerca de 49 milhões de km2, ocupando 8,6% da superfície planetária (quase 30% das terras emersas). Na Ásia encontra-se mais de 60% da população mundial. Localizada principalmente nos hemisférios oriental e setentrional, a Ásia costuma ser definida como a porção da Eurafrásia (o conjunto África-Ásia-Europa) que se encontra a leste do mar Vermelho, canal de Suez e montes Urais, e ao sul do Cáucaso e dos mares Cáspio e Negro. É banhada a leste pelo oceano Pacífico (mar da China Meridional, mar da China Oriental, mar Amarelo, mar do Japão, mar de Okhotsk e mar de Bering), ao sul pelo oceano Índico (golfo de Áden, mar Arábico e golfo de Bengala) e ao norte pelo oceano Ártico. </p>

</body>
</html>