<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Europa</title>
    <style>
        h1{
            text-align: center;
            font-family: Arial;
            color: #007bff;
        }
    </style>
</head>
<body>
    <p style="text-align: center"><h1>Europa</h1></p>
    <img src="imagens/euro.png">
    <p style="text-align: justify">Com superfície de 10.368.099km2, a Europa forma com a Ásia um conjunto de terras contínuas conhecido como Eurásia. Os limites entre a Europa e a Ásia não são claros, mas fatores históricos, étnicos e culturais conferem à Europa uma individualidade bem definida. A parte continental é limitada a Norte pelo Oceano Glacial Ártico, a oeste pelo Oceano Atlântico, a sul pelo Mar Mediterrâneo, pelo Mar Negro, pelas montanhas do Cáucaso e pelo Mar Cáspio, e a Leste pelos Montes Urais e pelo Rio Ural. Segundo a mitologia grega, Europa foi uma mulher muito bonita que despertou os amores de Zeus, deus-rei do Olimpo.</p>

</body>
</html>