<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Imagens</title>
    <style>
        h1{
            text-align: center;
            font-family: Arial;
            color: #007bff;

        }
        h2{
            font-family: "Times New Roman";
        }
        img{
            align-content: center;
        }
        div{
            align-items: center;
        }
    </style>
</head>
<body>
    <p><h1>Imagens</h1> </p>
    <div>
    <img src="imagens/africa.jpg" alt="africa" height="400" width="600" >
    <figcaption>
        <h2>AFRICA</h2>
    </figcaption>

    <img src="imagens/amcentral.jpg" alt="america central" height="400" width="600">
    <figcaption>
        <h2>AMERICA CENTRAL</h2>
    </figcaption>
    <img src="imagens/amnorte.jpg" alt="america norte" height="400" width="600">
    <figcaption>
        <h2>AMERICA DO NORTE</h2>
    </figcaption>
    <img src="imagens/amsul.jpg" alt="america sul" height="400" width="591">
    <figcaption>
        <h2>AMERICA DOS SUL</h2>
    </figcaption>
    <img src="imagens/aisa.jpg" alt="asia" height="194" width="260">
    <figcaption>
        <h2>ASIA</h2>
    </figcaption>
    <img src="imagens/europa.jpg" alt="euro" height="400" width="600">
    <figcaption>
        <h2>EUROPA</h2>
    </figcaption>
    <img src="imagens/oceania.gif" alt="ocean" height="400" width="600">
    <figcaption>
        <h2>Oceania</h2>
    </figcaption>
    </div>
</body>
</html>