<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Oceania</title>
    <style>
        h1{
            text-align: center;
            font-family: Arial;
            color: #007bff;
        }
    </style>

</head>
<body>
<p style="text-align: center"><h1>Oceania</h1></p>
<img src="imagens/oceania.gif">
<p style="text-align: justify">Formada por variados grupos de ilhas no Oceano Pacífico, a Oceania é o menor "continente" em área e o segundo menor (após a Antártica) em população. Possui uma área total de 8.480.355km2. O nome Oceania vem de Oceanus, o deus dos rios. Embora as ilhas da Oceania não formem um continente verdadeiro, alguns associam a Oceania com o continente da Austrália ou com a Australásia, com o propósito de dividir o planeta em agrupamentos continentais. A Austrália, país moderno e de primeiro mundo (3° do mundo no Índice de Desenvolvimento Humano), é o principal país do continente, ocupando quase 90% do mesmo.

</p>

</body>
</html>